SECRET_KEY = abc123
DEBUG = True
ALLOWED_HOSTS=.localhost, .herokuapp.com



DB_NAME =
# DB_NAME = 
DB_USER = 
DB_PASSWORD =
DB_HOST = 
DB_PORT = 

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB = 1
REDIS_URL = "redis://localhost:6379/1"

EMAIL_HOST = "mail.asemanexpress.com"
EMAIL_USE_SSL = True
EMAIL_PORT = "465"
EMAIL_HOST_USER = "dev@asemanexpress.com"
EMAIL_HOST_PASSWORD = "Ayan@2022"



ELASTICSEARCH_HOST = "http://localhost:9200/"
'ELASTICSEARCH_HOST = "localhost:9200/"

CELERY_BROKER_URL = "redis://localhost:6379"

BASE_REQUEST_URL = "http://localhost:8000"


